@font-face {
	font-family: "building";
	src: url("./fonts/Building_Typeface.ttf");
}

@font-face {
	font-family: "stellar-regular";
	src: url("./fonts/Stellar-Regular.otf") format("opentype");
}

body {
	position: relative;
	margin: 0;
	transition: opacity 100ms linear;
	opacity: 0;
}

#home_icon {
	position: relative;
	display: block;
	top: 4px;
}

ul#nav_bar {
	margin: 0 !important;
	overflow: hidden;
	background: #387ce2;
	background: -webkit-linear-gradient(left, #387ce2, #5590e8);
	background: -o-linear-gradient(right, #387ce2, #5590e8);
	background: -moz-linear-gradient(right, #387ce2, #5590e8);
	background: linear-gradient(to right, #387ce2, #5590e8);
	-webkit-padding-start: 0px;
}

ul#nav_bar li {
	list-style-type: none;
	float: left;
}

ul#nav_bar li a {
	list-style-type: none;
	text-decoration: none;
	text-align: center;
	display: block;
	padding-bottom: 10px;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 25px;
	font-family: "stellar-regular";
}

ul#nav_bar li a:not(.navactive) {
	color: #ffffff;
}

ul#nav_bar li a:hover:not(.navactive) {
	background-color: #ffffff;
	color: #387ce2;
	cursor: pointer;
}

.navactive {
	background-color: #ffffff;
	color: #387ce2;
}

.navactive:hover {
	cursor: pointer;
}

.mainbtn {
	border-radius: 2px;
	font-size: 18px;
	color: #387ce2;
	border: 1px solid #387ce2;
	transition: color 300ms linear, background-color 300ms linear;
	width: 135px;
	height: 35px;
	background-color: Transparent;
}

.mainbtn:focus {
	outline: none;
}

.mainbtn:hover {
	color: #ffffff;
	background-color: #387ce2;
	cursor: pointer;
}

.mainbtn span {
	cursor: pointer;
	display: inline-block;
	position: relative;
}

.mainbtn span:after {
	content: "\003e";
	opacity: 0;
	top: 0;
	transition: opacity 500ms linear, right 500ms linear;
	position: relative;
	right: -6px;
}

.mainbtn span:before {
	content: "\003c";
	opacity: 0;
	top: 0;
	transition: opacity 500ms linear, right 500ms linear;
	position: relative;
	right: 6px;
}

.mainbtn:hover span:after {
	opacity: 1;
	right: 0;
}

.mainbtn:hover span:before {
	opacity: 1;
	right: 0;
}

#main_title {
	font-family: "building";
	font-size: 100px;
	transition: opacity 500ms linear, padding-left 600ms ease-out;
	opacity: 0;
	color: #57a3d6;
	padding-left: 0px;
}

#pvgetstarted {
	position: relative;
	left: 35%;
}

#main_btns {
	padding-top: 50px;
}

#viewongithub {
	position: relative;
	left: 39%;
}

#main_div {
	background-image: url("./images/PVMain-Background.png");
	padding-top: 50px;
	padding-bottom: 35px;
}